#DB Credentials
DATABASE_URL=postgresql+asyncpg://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres

#SERVER CREDENTIALS
EC_SERVER_ID=
PATRON_ROLE=
LIBRARIAN_ROLE=
RECORD_CHANNEL_ID=
BOT_CHANNEL_ID=

#TOKEN/API KEYS & Configurations
BORROWED_DAYS=
TMDB_API_KEY=
TOKEN=
GEMINI_API_KEY=
RANDOM_MEME_API=